.box-wrapper {
  width: 150px;
  display: inline-block;
  margin: 10px;
}

.box-wrapper > .box {
  height: 100%;
}

.idea__input {
  border: none;
  box-shadow: none;
}

.idea__input--title {
  font-weight: bolder;
}
